---
layout: default
---

<script src="/js/section-indicator.js"></script>
<script src="/js/gallery.js"></script>

<div class="row">
  <div class="col-md-8">
    <article class="post">
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
      </header>

      {% if page.media_paths.size > 0 %}
        <div class="gallery-display" style="background-color: black;">
          <div id="youtube-player" style="visibility: hidden;"></div>
          <img style="visibility: hidden;" />
          <video style="visibility: hidden;" onended="nextSlide()" controls></video>
        </div>
        <div class="gallery-thumbnails-container">
          {% for media_path in page.media_paths %}
            <div class="gallery-thumbnail">
              {% if page.media_thumbnail_paths[forloop.index0] != null and page.media_thumbnail_paths[forloop.index0] != "" %}
                {% assign media_src = page.media_thumbnail_paths[forloop.index0] %}
              {% else %}
                {% assign media_src = media_path %}
              {% endif %}
              <img src="{{ media_src }}" id="thumbnail{{ forloop.index0 }}" onclick="displayMedia('{{ media_path }}', {{ forloop.index0 }})" />
              {% assign slice_path = media_path | slice: -3, 3 | downcase %}
              {% if slice_path != "png" and slice_path != "jpg" and slice_path != "bmp" and slice_path != "gif" %}
                <img class="gallery-thumbnail-play" src="/images/play.svg" onclick="displayMedia('{{ media_path }}', {{ forloop.index0 }})"  />
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="portfolio-info">
        <div class="portfolio-info-column">
          <div class="portfolio-info-column-text">
            <h2>Descrição</h2>
            <p>{{ page.description | markdownify }}</p>
          </div>
        </div>
        <div class="portfolio-info-column">
          <div class="portfolio-info-column-text">
            <h2>Informações</h2>
            <p>
              <strong>Cargo:</strong> {{ page.role }}<br />
              <strong>Prazo:</strong> {{ page.frame_time }} meses<br />
              <strong>Ano Desenvolvido:</strong> {{ page.year }}<br />
              <strong>Engine:</strong> {{ page.engine }}<br />
              <strong>Linguagem:</strong> {{ page.prog_language }}<br />
            </p>
          </div>
        </div>
      </div>

      <div class="post-content">{{ content }}</div>
    </article>
  </div>
  {% include sidebar.html %}
</div>

{% include fb-script.html %}
