---
layout: default
---

<script src="/js/section-indicator.js"></script>
<script src="/js/gallery.js"></script>

<div class="row">
  <div class="col-md-8">
    <article class="post">
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
      </header>

      {% if page.media_paths.size > 0 %}
        <div class="gallery">
          <div class="gallery-display" style="background-color: black;">
            <div id="youtube-player" style="visibility: hidden;"></div>
            <img style="visibility: hidden;" />
            <video style="visibility: hidden;" onended="nextSlide()" controls></video>
          </div>
        {% for media_path in page.media_paths %}
          <div class="gallery-thumbnail">
            {% if page.media_thumbnail_paths[forloop.index0] != null and page.media_thumbnail_paths[forloop.index0] != "" %}
              {% assign media_src = page.media_thumbnail_paths[forloop.index0] %}
            {% else %}
              {% assign media_src = media_path %}
            {% endif %}
            <img src="{{ media_src }}" id="thumbnail{{ forloop.index0 }}" onclick="displayMedia('{{ media_path }}', {{ forloop.index0 }})" />
            {% assign slice_path = media_path | slice: -3, 3 | downcase %}
            {% if slice_path != "png" and slice_path != "jpg" and slice_path != "bmp" and slice_path != "gif" %}
              <img class="gallery-thumbnail-play" src="/images/play.svg" onclick="displayMedia('{{ media_path }}', {{ forloop.index0 }})"  />
            {% endif %}
          </div>
        {% endfor %}
        </div>
      {% endif %}

      <div class="post-portfolio-info">
        <table>
          <tr>
            <td><h2>Descrição</h2></td>
            <td><h2>Informações</h2></td>
          </tr>
          <tr>
            <td>{{ page.description | markdownify }}</td>
            <td>
              <strong>Cargo:</strong> {{ page.role }}<br />
              <strong>Prazo:</strong> {{ page.frame_time }} meses<br />
              <strong>Ano Desenvolvido:</strong> {{ page.year }}<br />
              <strong>Engine:</strong> {{ page.engine }}<br />
              <strong>Linguagem:</strong> {{ page.prog_language }}<br />
              {% if page.web_page_types.size > 1 %}
                {% for web_page_url in page.web_pages %}
                  {% if forloop.index0 > 0 %}
                    |
                  {% endif %}
                  <a href="{{ web_page_url }}" target="_blank">
                    <strong>{{ page.web_page_types[forloop.index0] }}</strong>
                  </a>
                {% endfor %}
              {% else %}
                <a href="{{ page.web_pages[0] }}" target="_blank">
                  <strong>Página do {{ page.web_page_types[0] }}</strong>
                </a>
              {% endif %}
            </td>
          </tr>
        </table>
      </div>

      <div class="post-content">{{ content }}</div>
    </article>
  </div>
  {% include sidebar.html %}
</div>

{% include fb-script.html %}
